{% extends 'MyToDoListBundle::base.html.twig' %}

{% block page_title 'Create new task!!!' %}

{% block content %}

<form action="{{ post.id ? path('todo_edit', {'id': post.id}) : path('todo_new') }}" method="post" {{ form_enctype(form) }}>

    {{ form_widget(form) }}

    {% if post.id %}
        <button class="btn btn-info">Edit</button>
    {% else %}
        <button class="btn btn-primary">New{% endif %}</button>
</form>

{% endblock content %}
