<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

  <title>{% block title %}{{ block('page_title') }} - My to do list{% endblock title %}</title>
</head>
<body>
  <div>
    <div>
      <div>
        <h1>My to do list.</h1>
      </div>

      <div>
        <h2>
          {% block page_title %}{% endblock page_title %}
        </h2>
        {% block content %}{% endblock content %}
      </div>
    </div>

    <footer>
      <p>*** テンプレート(base.html)を継承 ***</p>
    </footer>
  </div>

  {% block javascripts %}{% endblock javascripts %}
</body>
</html>
